@media print,
(max-width: 1439px)
{
    /*-------------------
        First section
    -------------------*/
    .first_section .title
    {
        padding-left: 25.851%;
    }


    .first_section .sub_title
    {
        padding-left: 13.65%;
    }



    /*-------------
        Mission
    -------------*/
    .mission .item
    {
        padding-right: 31px;
        padding-left: 31px;
    }



    /*------------------
        Three blocks
    ------------------*/
    .three_blocks .item
    {
        padding-right: 31px;
        padding-left: 31px;
    }



    /*----------------
        Tokenomics
    ----------------*/
    .tokenomics .total_supply .total .label
    {
        font-size: 36px;
    }


    .tokenomics .total_supply .total .val
    {
        font-size: 80px;
    }


    .tokenomics .total_supply .tokens
    {
        font-size: 36px;
    }



    /*-------------
        Roadmap
    -------------*/
    .roadmap .year2025
    {
        font-size: 250px;

        right: 140px;
        bottom: -104px;
    }
}
